{% csrf_token %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Climate Change</title>
  </head>
  <body>
    <h1><center>The impacts of climate change on the water cycle</center></h1>
    <p>As the World Meteorological Organization (WMO) states, only 0.5 per cent of the Earth’s water is useable water – and climate change is affecting that supply. The water storage is dropping at the rate of 1cm per year, which is threatening water security. According to the SDG 2022, currently about two billion people worldwide don’t have access to clean and safe drinking water. Even at the current rate of progress, by 2030, it is expected that 1.6 billion people will lack safely drinking water supplies. As figure 1 shows, 1 in 4 people lack access to handwashing facilities with soap and water at home. The disastrous impacts of this lack of proper hygiene have been seen during the Covid-19 pandemic. Access to proper hand hygiene and sanitation is a must to contain infectious diseases. About 829,000 human dies annually due to diseases associated with unsafe water and poor hygiene.</p>
    <br>
    <p>Water stress occurs when the ratio of freshwater withdrawn to total renewable freshwater is above 25 per cent threshold. As figure 2, which shows levels of water stress across the globe indicates, more than 733 million people live in countries with critical levels of water stress. Climate change is already affecting the water cycle in various ways. Climate change is associated with a significant rise in temperature, which causes an increase in evaporation rate, causing the soil to be harder and less permeable. An increase in water evaporation also affect precipitation. Warmer air can hold more water vapor, leading to stronger storms. More intense storms cause massive floods. The effects of these floods go beyond destructing cities and homes. Such shifts in Earth’s natural system affect agriculture productivity and food availability.</p>
    <br>
    <p>Additionally, climate change is causing a significant rise in sea levels. Figure 3 indicates that as of this decade – 2020s -, sea levels are 0.10-0.20 metres higher than they were in the last century, mainly because of climate change. At the current greenhouse gases emissions levels, sea level is expected to rise as 1.1 metres. According to the United Nations (UN), this sea-level rise is predicted to increase the groundwater salinization, decreasing freshwater availability for humans and ecosystem. </p>
  </body>
</html>