{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Water Cycle Phases</title>
  </head>
  <body>
    {% csrf_token %}
    <h1><center>Water Cycle Phases</center></h1>
    <p>To understand how the water cycle works, let’s look at the fate of seawater at the surface of an ocean through the major phases of the water cycle.</p>
    <br>
    <h2>Evaporation</h2>
    <p>Evaporation is the process through which water turns into water vapor. Solar radiation heats the water, and this heat forces the bonds holding the water molecules together to break which allows them to evaporate and drift upward in a gaseous state to become part of the atmosphere. Ocean water cover about three quarters of Earth. Ocean water is constantly evaporating into the atmosphere. About 30% of the total ocean volume evaporates every year.</p>
    <br>
    <h2>Condensation</h2>
    <p>As the atmosphere water vapor rises with the wind to higher elevations, it cools and undergoes condensation. Water vapor changes into tiny droplets of ice/water particles due to low temperature. These droplets come together forming clouds and fog. If water vapor in the clouds reacts chemically with compounds in the air, forming acids. Theses acids combine with rain drops and fall as acid rain. Acid rain is generally considered a by-product of human activities. It happens mostly because of air emissions, mostly sulphur and nitrogen emitted by vesicles and industry processes. These sulphur and nitrogen particles might also happen by natural causes, such as lightening strike releasing nitrogen oxide and volcanic eruptions releasing sulphur oxide.</p>
    <div class="photoo">
        <p class="photo">Acid rain has destructive effects on the environment, for example it alters the composition of soil which affects agriculture. It also damages buildings and monuments. For example, acid rain causes the erosion of the Taj Mahal.</p>
        <img src="" alt="photo">
    </div>
    <br>
    <h2>Precipitation</h2>
    <p>Clouds pour down as precipitation due to wind or temperature changes. Water droplets fall down as rain. At very low temperatures, water droplets fall as snow. Precipitation helps keep the atmospheric balance, as it returns atmospheric water to the earth surface. Without precipitation, earth surface would be a desert. Thanks to precipitation, farmers can grow crops. Climate change has a significant impact on precipitation as it might affect the intensity and frequency of precipitation. It can produce more intense precipitation, such as heavier rains and snowstorms. This can lead to crop damage, soil erosion, and increase in flood risks.</p>
    <div class="photoo">
        <p class="photo">Taking the United States of America as an example, figure 1 clarifies that the country has suffered from extreme precipitation as it shows that nine of the top 10 years for extreme one-day precipitation events have occurred since 1996</p>
        <img src="" alt="photo">
    </div>
    <br>
    <h2>Transpiration</h2>
    <p>As water precipitates, several things can happen to it. Some of it gets absorbed by the soil. This water enters the process of transpiration, which is similar to evaporation where liquid water is turned into water vapor by the plants. Some of the precipitated water gets absorbed by the roots of the plants and is pushed toward the leaves where it is used for photosynthesis. The extra water is moved out of leaves through stomata (very tiny openings on leaves) as water vapor.</p>
    <br>
    <h2>Surface run-off</h2>
    <p>When water precipitates, some of it runs over the earth’s surface. This moving water is the major agent that shapes the earth's surface. As water moves over the land, it carries particles of rocks and soil with it. This run-off forms channels and rivers. It flows into lakes, rivers, and streams, from which it flows into the oceans. The water returns to the hydrosphere.</p>
    <br>
    <h2>Infiltration</h2>
    <p>Some of the precipitation, falls down to the ground rather than evaporating or running over the surface. It gets absorbed by plants and soil where it gets driven deeper to the earth. The water moves downward, under the pull of gravity, and increases the ground water table level. This underground water is usually clean water that is safe to drink. The speed of groundwater through rock and sediment is mainly determined by the structure of aquifers and confining rock and soil layers. Porosity, which is the percentage of pores or open spaces in a material, is an important factor. Permeability is another factor. It is the ability of material to transfer fluids.</p>
  </body>
</html>